<li id="canned-posts" (click)="openCannedModal()"
  (mouseenter)="hovering=true" (mouseleave)="hovering=false">
  <img id="canned-save-button" src="./save-button.png" *ngIf="!hovering"/>
  <img id="canned-save-button" src="./save-button-hover.png" *ngIf="hovering"/>
</li>

<div *ngIf="(relevant$ | async) && !hidden" class="canned-posts-container">
  <div class="post-listing">
    <canned-post-listing
      (postCreated)="cannedPostsService.createCannedPost()"
      (postSelected)="cannedPostsService.selectCannedPost($event)"
      [posts]="posts$ | async"
      [selectedPostId]="selectedPostId$ | async">
    </canned-post-listing>
  </div>
  <div class="post-details">
    <div *ngIf="!(selectedPost$ | async)">
      No canned text selected.
    </div>
    <canned-post-details
      [postAsync]="selectedPost$"
      (titleChanged)="cannedPostsService.setPostTitle(selectedPostId, $event)"
      (textChanged)="cannedPostsService.setPostText(selectedPostId, $event)"
      (postDeleted)="cannedPostsService.deletePost(selectedPostId)"
      >
    </canned-post-details>
  </div>
</div>
