@import "./styles.scss";

modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;


  .modal { // modal background
    background: rgba(black, 0.5);
    height: 100%;
    width: 100%;
    $displayed: displayed;
  }

  .modal-dialog { // actual modal
    width: 50%;
    background: $gray2-background;
  }

  h1 {
    color: blue;
  }
}
